# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyd
*.pyo

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS cruft
.DS_Store
Thumbs.db

# ZenML
.zen/
